@import url("https://fonts.googleapis.com/css?family=Merriweather:400,300|Merriweather+Sans:400,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/* html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}a{background-color:transparent}[hidden]{display:none}html{font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;line-height:1.5}*,:after,:before{box-sizing:border-box;border:0 solid #e2e8f0}a{color:inherit;text-decoration:inherit}svg,video{display:block;}video{max-width:100%;height:auto}.bg-white{--bg-opacity:1;background-color:#fff;background-color:rgba(255,255,255,var(--bg-opacity))}.bg-gray-100{--bg-opacity:1;background-color:#f7fafc;background-color:rgba(247,250,252,var(--bg-opacity))}.border-gray-200{--border-opacity:1;border-color:#edf2f7;border-color:rgba(237,242,247,var(--border-opacity))}.border-t{border-top-width:1px}.flex{display:flex}.grid{display:grid}.hidden{display:none}.items-center{align-items:center}.justify-center{justify-content:center}.font-semibold{font-weight:600}.h-5{height:1.25rem}.h-8{height:2rem}.h-16{height:4rem}.text-sm{font-size:.875rem}.text-lg{font-size:1.125rem}.leading-7{line-height:1.75rem}.mx-auto{margin-left:auto;margin-right:auto}.ml-1{margin-left:.25rem}.mt-2{margin-top:.5rem}.mr-2{margin-right:.5rem}.ml-2{margin-left:.5rem}.mt-4{margin-top:1rem}.ml-4{margin-left:1rem}.mt-8{margin-top:2rem}.ml-12{margin-left:3rem}.-mt-px{margin-top:-1px}.max-w-6xl{max-width:72rem}.min-h-screen{min-height:100vh}.overflow-hidden{overflow:hidden}.p-6{padding:1.5rem}.py-4{padding-top:1rem;padding-bottom:1rem}.px-6{padding-left:1.5rem;padding-right:1.5rem}.pt-8{padding-top:2rem}.fixed{position:fixed}.relative{position:relative}.top-0{top:0}.right-0{right:0}.shadow{box-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06)}.text-center{text-align:center}.text-gray-200{--text-opacity:1;color:#edf2f7;color:rgba(237,242,247,var(--text-opacity))}.text-gray-300{--text-opacity:1;color:#e2e8f0;color:rgba(226,232,240,var(--text-opacity))}.text-gray-400{--text-opacity:1;color:#cbd5e0;color:rgba(203,213,224,var(--text-opacity))}.text-gray-500{--text-opacity:1;color:#a0aec0;color:rgba(160,174,192,var(--text-opacity))}.text-gray-600{--text-opacity:1;color:#718096;color:rgba(113,128,150,var(--text-opacity))}.text-gray-700{--text-opacity:1;color:#4a5568;color:rgba(74,85,104,var(--text-opacity))}.text-gray-900{--text-opacity:1;color:#1a202c;color:rgba(26,32,44,var(--text-opacity))}.underline{text-decoration:underline}.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.w-5{width:1.25rem}.w-8{width:2rem}.w-auto{width:auto}.grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr))}@media (min-width:640px){.sm\:rounded-lg{border-radius:.5rem}.sm\:block{display:block}.sm\:items-center{align-items:center}.sm\:justify-start{justify-content:flex-start}.sm\:justify-between{justify-content:space-between}.sm\:h-20{height:5rem}.sm\:ml-0{margin-left:0}.sm\:px-6{padding-left:1.5rem;padding-right:1.5rem}.sm\:pt-0{padding-top:0}.sm\:text-left{text-align:left}.sm\:text-right{text-align:right}}@media (min-width:768px){.md\:border-t-0{border-top-width:0}.md\:border-l{border-left-width:1px}.md\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}}@media (min-width:1024px){.lg\:px-8{padding-left:2rem;padding-right:2rem}}@media (prefers-color-scheme:dark){.dark\:bg-gray-800{--bg-opacity:1;background-color:#2d3748;background-color:rgba(45,55,72,var(--bg-opacity))}.dark\:bg-gray-900{--bg-opacity:1;background-color:#1a202c;background-color:rgba(26,32,44,var(--bg-opacity))}.dark\:border-gray-700{--border-opacity:1;border-color:#4a5568;border-color:rgba(74,85,104,var(--border-opacity))}.dark\:text-white{--text-opacity:1;color:#fff;color:rgba(255,255,255,var(--text-opacity))}.dark\:text-gray-400{--text-opacity:1;color:#cbd5e0;color:rgba(203,213,224,var(--text-opacity))}.dark\:text-gray-500{--tw-text-opacity:1;color:#6b7280;color:rgba(107,114,128,var(--tw-text-opacity))}} */

html{
  overflow-x: hidden;
}

.error{
    color: red;
    font-style: italic;
}

/* for loading screen */
.page_content{
  display: none;
}

.load{
  display: flex;
  justify-content: center!important;
  align-items: center!important;
  min-height: 100vh!important;
  background-color: white;
}

.ring{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%!important;
  animation: ring 2s linear infinite;
}

@keyframes ring {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #f3ff82;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #abeb88;
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #67d294;
  }

}

.ring:before{
  position: absolute!important;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, .3)!important;
}

.load span{
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  justify-content: center!important;
  animation: display 2s ease-in-out infinite
}

@keyframes display {
  50%{
    color: white;
  }
}

/* for navbar */
.navbar-brand{
  font-family: 'Brush Script MT';
}

.nav_home ul li a{
  color: white;
}

.logged ul li a{
  color: black;
}

.gear_icon{
  padding: 2rem;
}

.navbar_default {
  padding: 0.75rem 1.5rem;
  font-family: "Merriweather Sans", sans-serif;
  background-color: white;
  transition: all 0.15s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navbar-dark {
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: none;
}

.Category_header{
  padding: 1rem;
  margin-bottom: 1rem;
}

.list_category{
    display: inline-block;
    background-color: #002d50;
    color: whitesmoke;
    padding: .6rem 1rem .6rem .6rem;
    border-radius: 2rem;
    margin: .4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list_category:hover{
  color: yellow;
}

.followed{
  color: #002d50!important;
  background-color: #abeb88;
  transform: scale(1.1);
}

input[name="Followed[]"], input[name="GFollowed[]"]{
  accent-color: limegreen;
  margin-left: 1rem;
  cursor: pointer;
}

input[name="Categs[]"], 
input[name="GCategs[]"]{
  accent-color: limegreen;
  margin-right  : 1rem!important;
  cursor: pointer;
}

.categs, .Gcategs{
  background-color: #1f4260!important;
  color: whitesmoke!important;
  border-radius: 20px!important;
}

.navbread{
  display: flex!important;
  align-content: center;
  vertical-align: middle!important;
}

.breadcrumb li a{
  text-decoration: none!important;
  font-size: 1rem;
  color: whitesmoke!important;
  vertical-align: middle!important;
  padding: .2rem 1rem .2rem 1rem;
}

.breadcrumb li a:hover{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  cursor: pointer;
}

.breadcrumb-item::before{
  color: whitesmoke!important;
  vertical-align: middle!important;
}

@media screen and (max-width: 1365px){
  .breadcrumb li a{
    font-size: 1rem;
    padding: .2rem .3rem;
  }

  .breadcrumb li a:hover{
    background-color: transparent;
    color: #f3ff82;
  }
}

@media screen and (max-width: 1099px){
  .breadcrumb li a{
    font-size: 1rem;
    padding: 0;
  }

  .breadcrumb li a:hover{
    background-color: transparent;
    color: #f3ff82;
  }
}

/* Main Page */

body {
  font-family: "Merriweather", serif;
  line-height: 1.5;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .btn {
  font-family: "Merriweather Sans", sans-serif;
}

.hero {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.hero1 {
  padding-top: 8rem;
  padding-bottom: 6rem;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.hero-dark {
  color: white;
}
.hero__container {
  max-width: 900px;
  margin: 0 auto;
}
.hero__divider {
  display: inline-block;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  height: 3px !important;
  width: 3.25rem;
  border-width: 0.2rem;
  background-color: #2a9df4 ;
  opacity: 1;
}
.hero__title {
  font-size: 2rem;
}
.hero__text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.25rem;
  font-weight: 300;
}
.hero__btn {
  padding: 1.25rem 2.25rem!important;
  margin-top: 1.75rem!important;
  margin-bottom: 1.75rem!important;
  text-transform: uppercase!important;
  font-size: 0.8125rem!important;
  font-weight: 700!important;
  border-radius: 10rem!important;
  background-color: #fff;
}
.hero__btn--dark {
  background-color: #2a9df4!important;
  color: white !important;
}
.hero__btn--dark:hover {
  background-color: #1f7bc2!important;
}

.hero__btn--light {
  background-color: white!important;
  color: black !important;
}
.hero__btn--light:hover {
  background-color: rgb(30, 29, 29)!important;
  color: white !important;
}

#header-hero {
  /* Set a specific height */
  min-height: 90vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
}
.p1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(92, 77, 66, 0.9)), url("https://picsum.photos/750/1260");
}

.p2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(92, 77, 66, 0.9)), url("https://picsum.photos/740/1260");
}

#header-hero .hero__title {
  font-size: 3.25rem;
  text-transform: uppercase;
  font-weight: 700;
}

#about {
  background-color: #2a9df4;
}

#services .hero__container {
  max-width: none;
}
#services .hero__divider {
  margin-bottom: 4rem;
}

.icon-card {
  margin-bottom: 3rem;
}
.icon-card--large .icon-card__icon {
  font-size: 5rem;
}
  
.icon-card__icon {
  color: #009a9c;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.icon-card__title {
  font-size: 1.625rem;
  margin-bottom: 0.75rem;
}

/* settings */
.settings{
  padding-top: 7rem;
  background-color: #009a9c;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

.set-header{
  background-color: white;
  margin-bottom: 3rem;
}

.set_content{
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: hidden;
  background-color: white;
  color: black;
}

.list{
  background-color: #57e1e4;
  padding-right: 0 !important;
}

.set_tabs .nav-link{
    background-color: #57e1e4;
    display: flex;
    justify-content: start;
    font-size: 1rem;
    padding: 1rem;
    color: white;
    margin: 1rem 0;
    border-radius: 20px 0 0 20px;
}

.set_tabs > .active{
  color: #009a9c!important;
  background-color: white;
}

.hid_set_text,
.set_tabs .nav-link:hover,
.settings_editinfo h3,
.settings_editinfo a {
  color:#005e7d ;
}

.settings_editinfo a:hover{
  transform: scale(1.5);
}

.icon_settings{
  font-size: 2rem;
}

.settings_edit_icon{
  font-size: 2rem;
} 

@media screen and (max-width: 280px){
  .list{
    zoom: 50%;
  }
  .set_content{
    zoom: 50%;
  }

  .set-header{
    max-height: 50vh;
  }
}


/* admin style */

.admin_brand{
  font-size: 2rem!important;
}

.admin_nav{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(31,66,96));
  padding: .5rem 0;
}

.admin_side{
  top: 4.7rem!important;
  max-width: 6rem;
  right: .8rem!important;
  display: flex!important;
  justify-content: end!important;
  background-color: white;
  border-radius: 0 20px 20px 0;
  border: #000 solid;
}

.admin_side ul li{
  margin-top: 1em;
}

.admin_list ul li a{
  color: var(--txt);
}

.admin_list ul li a p{
  color: var(--bg);
  font-weight: 400
}

.admin_display{
  display: flex!important;
  justify-content: space-evenly;
}

.admin_content{
  text-align: center;
}

.admin_chart{
  width: 50%;
  height: 65%; 
}

.admin_side .toggle{
  justify-content: end;
  margin-left: 1rem;
}

.admin_nav_open{
  border: rgba(248, 250, 252, 1)!important;
  border-color: #000!important;
  border-style: solid!important;
}

.toggle button{
  border: rgba(248, 250, 252, 1);
  border-color: #000;
  border-style: none none solid solid;
}

.toggle > .active{
  display: flex;
}

.admin_nav_list .active{
  color: var(--bg)!important;
}

.toggle > .disable{
  display: none;
}

@media(max-width: 575px){
  .admin_display{
    width: 200px;
    margin: 0 auto;
  }
  .admin_content{
    width: 100px;
  }
}

@media(max-width: 280px){
  .admin_brand{
    width: 90px;
  }
  .admin_nav{
    width: 10px;
    padding: .5rem;
  }
}

/* Create Project page */
.project_body{
  padding: 6rem 0 0 0;
}

.project_body h1{
  font-family: 'Nunito', sans-serif;
}

.prog_tabs{
  margin-top: 2rem!important;
  border: none !important;
}

.prog_tabs .nav-link{
  color: #009a9c;
  border-radius: 50% !important;
  border-style: none!important;
  margin: 0 2rem;
  height: 100px;
  width:  100px;
  text-align: center!important;
  background-color: white !important;
  padding: 0;
}

.prog_tabs a.active,
.prog_tabs .done{
  color: whitesmoke !important;
  background-color: #009a9c!important;
}

.prog_tabs .nav-link i{
  font-size: 3rem;
  margin-top: 25px;
}

.prog_tabs .nav-link h5{
  margin-top: 50px;
  color: #67d294;
}

.prog_tabs .nav-link:hover{
  color: whitesmoke !important;
  background-color: #009a9c!important;
}

.prog_tabs div{
  display: flex;
  align-self: center;
  justify-content: center;
}

.arrow{
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

@media(max-width: 850px){
  .prog_tabs .nav-link{
    height: 75px;
    width:  75px;
    margin: .5rem;
  }
  .prog_tabs .nav-link i{
    font-size: 2rem;
    margin-top: 18px;
  }
}

.Edisplay:hover{
  cursor: not-allowed;
}

.create_prog{
  margin-top: 4rem!important;
}

.tab-pane{
  margin-right: 0!important;
}

hr.create{
  border: none;
  border-top: 10px solid;
  color: #1f4260;
}

.card-body{
  font: sans-serif;
}
.tags{
  width: 100%;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: .5rem;
}

.tag{
  display: inline-block;
  background-color: #002d50;
  color: whitesmoke;
  padding: .6rem .6rem .6rem 1rem;
  border-radius: 2rem;
  margin: .4rem;
}

.remove-tag{
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  color: black;
  background-color: white; 
  border-radius: 50%;
  margin-left: .5rem;
  text-align: center;
  line-height: 1.4rem;
  cursor: pointer;
}

.tags input{
  padding: 1rem;
  font: 250 1rem sans-serif;
  border: none;
  background-color: transparent;
}

@media(max-width: 440px){
  .tags input{
    padding: 0;
    font-size: .7rem;
  }
}

.Tool{
  position: relative;
}

.Tool::after{
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  font-size: .9rem;
  opacity: 0;

  transition: .4s ease-in-out;
}

.Tool::after{
  content: attr(title);
  top: -44px;
  background: #444;
  white-space: pre;

  padding: .8rem 1rem;
  border-radius: .4rem;
}

.Tool:hover:after{
  opacity: 1;
  transform: translate(-50%, 0px);
}

.payment_header{
  margin-top: 10rem;
}

.card-header i{
  font-size: 10rem;
}

.bg_card{
  background: radial-gradient(#ffe995, #fa742b)!important;
}

.ckeditor{
  width: 100vw!important;
}

.admin_icon{
  font-size: 4rem;
  color: var(--bg);
}

.admin_user_table{
  color: var(--bg);
  font-size: 2rem;
  font-weight: 800;
}

.admin_status{
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}

.admin_deactive{
  background-color: red!important;
}

.admin_active{
  background-color: var(--txt)!important;
}

.admin_role{
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
}

.admin_user{
  background-color: var(--hl)!important;
  color: black;
}

.admin_developer{
  background-color: var(--bg)!important;
  color: white;
}

.admin_admin{
  background-color: black!important;
  color: white;
}

.admin_project_table{
  font-size: 2rem;
  color: var(--bg);
  font-weight: 800;
}

.admin_project{
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  color: black;
}

.project_IP{
  background-color: rgb(255, 217, 0)!important;
}

.project_success{
  background-color: var(--txt)!important;
}

.project_halt{
  background-color: rgb(255, 96, 96)!important;
}

/* filter page */
:root{
  --txt: #abeb88;
  --bg: #002d50;
  --hl: #f3ff82;
}
.nav_filter{
  margin-top: 4.5rem;
  font-family: 'Poppins', sans-serif;
}

.nav_filter nav{
  height: 3rem;
  display: flex;
  justify-content: center;
}

.F_list{
  text-align: center;
  max-width: 90px!important;
}

.F_display{
  text-align: center;
  max-width: 100px!important;
}

.filter_row{
  padding: 0 2rem;
}

.nav_filter .select .form-select{
  width: 100%!important;
}

.nav_filter .select{
  padding: 1rem;
}

.Filter ul .disabled:hover{
  cursor:not-allowed;
}

#content_projects .card .card-img img{
  object-fit: cover;
  height: 30vh!important;
}

#content_projects .card .card-img{
  overflow: hidden;
}

#content_projects .card img:hover{
  -webkit-filter: brightness(80%);
  transform: scale3d(1.2, 1.2, 1.2);
  transition: all 0.3s ease-out;
  overflow: hidden;
}

#content_projects .col-md-6 a{
  text-decoration: none;
}

#content_projects .card .card-body .row .title_img img{
  display: flex!important;
  justify-content: center!important;
  height: 200px!important;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

#content_projects .card .card-body .row .title_img{
  top: -100px;
  position: relative;
  height: 25vh;
}

#content_projects a .card h5{
  color: var(--bg);
}

#content_projects a .card span{
  color: #005e7d!important;
}

#content_projects a .card p{
  color: #005e7d!important;
}

#content_projects .card:hover{
  cursor:pointer;
}

#content_projects .card .card-body .row .title_img img:hover{
  -webkit-filter: brightness(80%);
  transform: scale3d(1.2, 1.2, 1.2);
  transition: all 0.3s ease-out;
}

/* card image */
.img-hover {
  overflow: hidden;
}
.img-holder{
  max-height: 200px;
  overflow: hidden;
}
.img-hover img{
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  transition: all 0.3s ease-out;
  transform: scale3d(1.0, 1.0, 1.0);
  -webkit-filter: brightness(100%);
}
.img-hover:hover img{
  -webkit-filter: brightness(80%);
  transform: scale3d(1.2, 1.2, 1.2);
}