@import url("https://fonts.googleapis.com/css?family=Merriweather:400,300|Merriweather+Sans:400,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Rockwell+Light&display=swap');

html{
  overflow-x: hidden;
  height: 100%;
}

.error{
    color: red;
    font-style: italic;
}

/* for loading screen */
.page_content{
  display: none;
}

.load{
  display: flex;
  justify-content: center!important;
  align-items: center!important;
  min-height: 100vh!important;
  background-color: white;
}

.ring{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%!important;
  animation: ring 2s linear infinite;
}

@keyframes ring {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #f3ff82;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #abeb88;
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #67d294;
  }

}

.ring:before{
  position: absolute!important;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, .3)!important;
}

.load span{
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  justify-content: center!important;
  animation: display 2s ease-in-out infinite
}

@keyframes display {
  50%{
    color: white;
  }
}

/* for navbar */
.navbar-brand{
  font-family: 'Brush Script MT';
}

.nav_home ul li a{
  color: white;
}

.logged ul li a{
  color: black;
}

.gear_icon{
  padding: 2rem;
}

.dropdown-item{
  font-weight: 100!important;
}

.navbar_default {
  padding: 0.75rem 1.5rem;
  font-family: "Merriweather Sans", sans-serif;
  background-color: white;
  transition: all 0.15s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navbar-dark {
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: none;
}

.Category_header{
  padding: 1rem;
  margin-bottom: 1rem;
}

.list_category{
    display: inline-block;
    background-color: #002d50;
    color: whitesmoke;
    padding: .6rem 1rem .6rem .6rem;
    border-radius: 2rem;
    margin: .4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list_category:hover{
  color: yellow;
}

.followed{
  color: #002d50!important;
  background-color: #abeb88;
  transform: scale(1.1);
}

input[name="Followed[]"], input[name="GFollowed[]"]{
  accent-color: limegreen;
  margin-left: 1rem;
  cursor: pointer;
}

input[name="Categs[]"], 
input[name="GCategs[]"]{
  accent-color: limegreen;
  margin-right  : 1rem!important;
  cursor: pointer;
}

.categs, .Gcategs{
  background-color: #1f4260!important;
  color: whitesmoke!important;
  border-radius: 20px!important;
}

.navbread{
  display: flex!important;
  align-content: center;
  vertical-align: middle!important;
}

.breadcrumb li a{
  text-decoration: none!important;
  font-size: 1rem;
  color: whitesmoke!important;
  vertical-align: middle!important;
  padding: .2rem 1.5rem;
}

.breadcrumb li a:hover{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  cursor: pointer;
}

.breadcrumb-item::before{
  color: whitesmoke!important;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbread ul li a{
  color: var(--bg)!important;
}

.navbread ul li a:hover{
  background-color: var(--bg);
  border-radius: 20px;
  color: whitesmoke!important;
  cursor: pointer;
}

@media screen and (576px <= width <= 600px){
  .breadcrumb li a{
    padding: .2rem .5rem;
  }
}

#def_search .auto-com_box li{
  list-style: none;
  padding: 8px 9px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

#def_search .auto-com_box.active li{
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#def_search .auto-com_box.active{
  padding: 10px 5px;
  max-height: 245px;
  overflow-y: auto;
}

#def_search .auto-com_box li:hover{
  background-color: #f3f3f3;
}

input[name="search"]{
  height: 3rem;
  border: solid var(--bg);
}
/* Main Page */

body {
  font-family: "Merriweather", serif;
  line-height: 1.5;
  overflow-x: hidden;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, .btn {
  font-family: "Merriweather Sans", sans-serif;
}

.hero {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.hero1 {
  padding-top: 8rem;
  padding-bottom: 6rem;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.hero-dark {
  color: white;
}
.hero__container {
  max-width: 900px;
  margin: 0 auto;
}
.hero__divider {
  display: inline-block;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  height: 3px !important;
  width: 3.25rem;
  border-width: 0.2rem;
  background-color: #2a9df4 ;
  opacity: 1;
}
.hero__title {
  position:relative;
  font-size: 2rem;
  word-wrap: break-word;
  transition: opacity 0.7s ease-in;
}

.hero__text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.25rem;
  font-weight: 300;
}
.hero__btn {
  padding: 1.25rem 2.25rem!important;
  margin-top: 1.75rem!important;
  margin-bottom: 1.75rem!important;
  text-transform: uppercase!important;
  font-size: 0.8125rem!important;
  font-weight: 700!important;
  border-radius: 10rem!important;
  background-color: #fff;
}
.hero__btn--dark {
  background-color: #2a9df4!important;
  color: white !important;
}
.hero__btn--dark:hover {
  background-color: #1f7bc2!important;
}

.hero__btn--light {
  background-color: white!important;
  color: black !important;
}
.hero__btn--light:hover {
  background-color: rgb(30, 29, 29)!important;
  color: white !important;
}

#header-hero {
  /* Set a specific height */
  min-height: 90vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* contact start */

.contact {
  position: relative;
  width: 900px;
  max-width: 80%;
  border: 2px solid #333;
  border-top: none;
  text-align: center;
  margin: 60px auto;
}

.contact h1 {
  word-break: break-all;
  position: relative;
  margin-top: -14px;
  display: inline-block;
  letter-spacing: 4px;
}

.top-border{
  position: absolute;
  height: 2px;
  width: 24%;
  background-color: #333;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

@media (max-width: 684px) {
.top-border {	
  width: 17%;
	}
}

.contact p {
  width: 61%;
  margin: 18px auto 40px auto;
  line-height: 30px;
}

.contact a {
  width: 440px;
  max-width: 80%;
  word-break: break-all;
  display: inline-block;
  border-radius: 50px;
  padding: 20px;
  margin-bottom: 40px;
  background-color: black;
  color: white;
  font-size: 23px;
  letter-spacing: 4px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

.contact a:hover {
  background-color: #1f4260;
}

.contact a:link, .contact a:visited, .contact a:link:hover, .contact a:visited:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 500px) {
  .top-border {	
    display: none;
  }
  .contact {
  border-top: 2px solid #333;
  }
  .contact h1 {
    margin: 18px 6px;
  }
}
/* contact */

.p1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(92, 77, 66, 0.9)), url("https://picsum.photos/750/1260");
}

.p2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(92, 77, 66, 0.9)), url("https://picsum.photos/740/1260");
}

#header-hero .hero__title {
  font-size: 3.25rem;
  text-transform: uppercase;
  font-weight: 700;
}

#about {
  background-color: #2a9df4;
}

#services .hero__container {
  max-width: none;
}
#services .hero__divider {
  margin-bottom: 4rem;
}

.icon-card {
  margin-bottom: 3rem;
}
.icon-card--large .icon-card__icon {
  font-size: 5rem;
}
  
.icon-card__icon {
  color: #009a9c;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.icon-card__title {
  font-size: 1.625rem;
  margin-bottom: 0.75rem;
}

/* settings */
.settings{
  padding-top: 7rem;
  background-color: #009a9c;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

.set-header{
  background-color: white;
  margin-bottom: 3rem;
}

.set_content{
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: hidden;
  background-color: white;
  color: black;
}

.list{
  background-color: #57e1e4;
  padding-right: 0 !important;
}

.set_tabs .nav-link{
    background-color: #57e1e4;
    display: flex;
    justify-content: start;
    font-size: 1rem;
    padding: 1rem;
    color: white;
    margin: 1rem 0;
    border-radius: 20px 0 0 20px;
}

.set_tabs > .active{
  color: #009a9c!important;
  background-color: white;
}

.hid_set_text,
.set_tabs .nav-link:hover,
.settings_editinfo h3,
.settings_editinfo a {
  color:#005e7d ;
}

.settings_editinfo a:hover{
  transform: scale(1.5);
}

.icon_settings{
  font-size: 2rem;
}

.settings_edit_icon{
  font-size: 2rem;
} 

@media screen and (max-width: 280px){
  .list{
    zoom: 50%;
  }
  .set_content{
    zoom: 50%;
  }

  .set-header{
    max-height: 50vh;
  }
}


/* admin style */
.admin_page{
  margin-top: 4rem;
}

.admin_brand{
  font-size: 2rem!important;
  padding: 0 1rem;
}

.admin_nav{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(31,66,96));
  padding: .5rem 0;
}

.admin_header{
  height: 1rem;
}

.sidebar{
  background-color: whitesmoke;
  display: flex!important;
  flex-direction: column!important;
  width: 77px;
  border-right: 1px solid #dfdfdf;
  margin-top: 3.85rem;
  padding-top: 1rem;
  height: calc(100vh - 1rem);
  overflow-x: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: stretch;
  transition: width 200ms ease-in-out
}

.sidebar .hidden_name{
  opacity: 0;
  transition: all 200ms ease-in-out;
  width: 0;
  height: 0;
}

.sidebar .top_sidebar .hidden_name{
  text-align: center;
}

.sidebar.open .hidden_name{
  opacity: 1;
  width: 100%;
  height: 100%;
}

.sidebar .top_sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle_sidebar{
  flex-grow: 1!important;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.sidebar .admin_logo{
  display: block;
  width: 30px;
  height: 30px;
  transition: all 200ms ease-in-out;
}

.sidebar .admin_logo > img{
  width: 100%;
  height: 100%;
}

.admin_list ul li a{
  color: grey;
}

.admin_list{
  width: 100%!important;
}

.sidebar_icon{
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: .25rem 0;
}

.sidebar_link{
  height: 10%;
  display: flex!important;
  align-items: center;
  justify-content: center;
}

.top_sidebar{
  margin-bottom: 1rem;
}

.sidebar_link.active{
  color: var(--bg)!important;
  background-color: rgba(163, 163, 163, 0.15);
}

.admin_nav_list{
  width: 100%;
  justify-content: center;
}

.admin_nav_list:hover{
  background-color: rgba(163, 163, 163, 0.15);
}

.sidebar_link.active::before{
  content: "";
  background-color: var(--bg);
  height: calc(6% + .25rem);
  left: 0;
  width: 3px;
  position: absolute;
}

.sidebar.open{
  background-color: whitesmoke;
  width: 10rem;
  display: flex!important;
  flex-direction: column!important;
  border-right: 1px solid #dfdfdf;
  margin-top: 3.85rem;
  padding-top: 1rem;
  height: calc(100vh - 60px);
  overflow-x: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: stretch;
}

.sidebar.open .sidebar_icon{
  margin-right: 1rem;
}

.sidebar.open .sidebar_link{
  justify-content: flex-start;
}

.sidebar.open .admin_logo{
  display: block;
  width: 100px;
  height: 100px;
}

.sidebar.open .sidebar_icon{
  font-size: 25px;
  display: flex;
  align-items: center;
  padding: .5rem 0;
}

.sidebar .top_sidebar{
  height: 30px;
  transition: all 200ms ease-in-out;
}

.sidebar.open .top_sidebar{
  height: 120px;
}

.admin_display{
  display: flex!important;
  justify-content: space-evenly;
}

.admin_content{
  text-align: center;
}

.admin_chart{
  width: 50%;
  height: 65%; 
}

@media(max-width: 575px){
  .admin_display{
    width: 200px;
    margin: 0 auto;
  }
  .admin_content{
    width: 100px;
  }
}

@media(max-width: 280px){
  .admin_brand{
    width: 90px;
  }
  .admin_nav{
    width: 10px;
    padding: .5rem;
  }
}

/* Create Project page */
.project_body{
  padding: 6rem 0 0 0;
}

.project_body h1{
  font-family: 'Nunito', sans-serif;
}

.prog_tabs{
  margin-top: 2rem!important;
  border: none !important;
}

.prog_tabs .nav-link{
  color: #009a9c;
  border-radius: 50% !important;
  border-style: none!important;
  margin: 0 2rem;
  height: 100px;
  width:  100px;
  text-align: center!important;
  background-color: white !important;
  padding: 0;
}

.prog_tabs a.active,
.prog_tabs .done{
  color: whitesmoke !important;
  background-color: #009a9c!important;
}

.prog_tabs .nav-link i{
  font-size: 3rem;
  margin-top: 25px;
}

.prog_tabs .nav-link h5{
  margin-top: 50px;
  color: #67d294;
}

.prog_tabs .nav-link:hover{
  color: whitesmoke !important;
  background-color: #009a9c!important;
}

.prog_tabs div{
  display: flex;
  align-self: center;
  justify-content: center;
}

.arrow{
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

@media(max-width: 850px){
  .prog_tabs .nav-link{
    height: 75px;
    width:  75px;
    margin: .5rem;
  }
  .prog_tabs .nav-link i{
    font-size: 2rem;
    margin-top: 18px;
  }
}

.Edisplay:hover{
  cursor: not-allowed;
}

.create_prog{
  margin-top: 4rem!important;
}

.tab-pane{
  margin-right: 0!important;
}

hr.create{
  border: none;
  border-top: 10px solid;
  color: #1f4260;
}

.card-body{
  font: sans-serif;
}
.tags{
  width: 100%;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: .5rem;
}

.tag{
  display: inline-block;
  background-color: #002d50;
  color: whitesmoke;
  padding: .6rem .6rem .6rem 1rem;
  border-radius: 2rem;
  margin: .4rem;
}

.remove-tag{
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  color: black;
  background-color: white; 
  border-radius: 50%;
  margin-left: .5rem;
  text-align: center;
  line-height: 1.4rem;
  cursor: pointer;
}

.tags input{
  padding: 1rem;
  font: 250 1rem sans-serif;
  border: none;
  background-color: transparent;
}

@media(max-width: 440px){
  .tags input{
    padding: 0;
    font-size: .7rem;
  }
}

.Tool{
  position: relative;
}

.Tool::after{
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  font-size: .9rem;
  opacity: 0;

  transition: .4s ease-in-out;
}

.Tool::after{
  content: attr(title);
  top: -44px;
  background: #444;
  white-space: pre;

  padding: .8rem 1rem;
  border-radius: .4rem;
}

.Tool:hover:after{
  opacity: 1;
  transform: translate(-50%, 0px);
}

.payment_header{
  margin-top: 10rem;
}

.card-header i{
  font-size: 10rem;
}

.bg_card{
  background: radial-gradient(#ffe995, #fa742b)!important;
}

#cke_Story{
  width: 100%!important;
}

.admin_icon{
  font-size: 4rem;
  color: var(--bg);
}

.admin_user_table{
  color: var(--bg);
  font-size: 2rem;
  font-weight: 800;
}

.admin_status{
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}

.admin_deactive{
  background-color: red!important;
}

.admin_active{
  background-color: var(--txt)!important;
}

#admin_user_table tbody tr td.admin_type{
  font-weight: 1000;
  font-size: 1.1rem;
}

.admin_table{
  max-height: 220px;
  height: 50vh;
  overflow-y: auto;
}

.admin_user{
  color: rgb(12, 141, 0);
}

.admin_developer{
  color: rgb(27, 0, 126);
}

.admin_admin{
  color: rgb(119, 0, 0);
}

.admin_project_table{
  font-size: 2rem;
  color: var(--bg);
  font-weight: 800;
}

.admin_project{
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  color: black;
}

.project_inProgress{
  background-color: rgb(255, 217, 0)!important;
}

.project_pending{
  background-color: rgb(150, 150, 150)!important;
}

.project_denied{
  background-color: rgb(255, 96, 96)!important;
}

.project_success{
  background-color: var(--txt)!important;
}

.project_halt{
  background-color: rgb(255, 173, 96)!important;
}

/* filter page */
:root{
  --txt: #abeb88;
  --bg: #002d50;
  --hl: #f3ff82;
}
.filter{
  font-family: 'Poppins', sans-serif;
}

.filter_nav{
  padding-top: 7rem;
}

hr.filter{
  margin-top: 2rem;
  padding: 0;
}

.filter .filter_nav nav{
  height: 4rem;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(31,66,96));
  margin: 0;
}

.F_list{
  text-align: center;
  max-width: 90px!important;
}

.F_display{
  text-align: center;
  max-width: 100px!important;
}

.filter_row{
  padding: 7rem 2rem 3rem 0;
  width: 100%;
}

.filter_row .select .form-select{
  width: 100%!important;
}

.filter_row .select{
  padding: 1rem;
}

.Filter ul .disabled:hover{
  cursor:not-allowed;
}

#content_projects .card .card-img img{
  object-fit: cover;
  height: 30vh!important;
}

#content_projects .card .card-img{
  overflow: hidden;
}

#content_projects .card img:hover{
  -webkit-filter: brightness(80%);
  transform: scale3d(1.2, 1.2, 1.2);
  transition: all 0.3s ease-out;
  overflow: hidden;
}

#content_projects .col-md-6 a{
  text-decoration: none;
}

#content_projects .card .card-body .row .title_img img{
  display: flex!important;
  justify-content: center!important;
  height: 200px!important;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

#content_projects .card .card-body .row .title_img{
  top: -100px;
  position: relative;
  height: 25vh;
}

#content_projects a .card h5{
  color: var(--bg);
}

#content_projects a .card span{
  color: #005e7d!important;
}

#content_projects a .card p{
  color: #005e7d!important;
}

#content_projects .card:hover{
  cursor:pointer;
}

#content_projects .card .card-body .row .title_img img:hover{
  -webkit-filter: brightness(80%);
  transform: scale3d(1.2, 1.2, 1.2);
  transition: all 0.3s ease-out;
}

/* card image */
.img-hover {
  overflow: hidden;
}
.img-holder{
  max-height: 200px;
  overflow: hidden;
}
.img-hover img{
  width: 100%;
  height: 200px;
  display: block;
  margin: 0;
  transition: all 0.3s ease-out;
  transform: scale3d(1.0, 1.0, 1.0);
  -webkit-filter: brightness(100%);
}
.img-hover:hover img{
  -webkit-filter: brightness(80%);
  transform: scale3d(1.2, 1.2, 1.2);
}

/* terms and conditions */
.hero2 {
  padding-top: 8rem;
  padding-left: 15px;
  padding-right: 15px;
  text-align:center;
}

.termsContainer{
  width:300px;
  background-color: rgba(255, 255, 255,1);
  color:black; 
  
  padding: 10px;
  padding-bottom: 10%;

  box-sizing: border-box;
  box-shadow:5px 5px rgba(0, 0, 0, 0.397);
  border-radius:40px 40px 0 0;
  text-align: justify;
  overflow-wrap: break-word;

}
/* profile page */
.profile_icon{
  background-image: linear-gradient(var(--bg), rgba(255,0,0,0));
  padding-top: 7rem;
}

.profile_icon .display img{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0;
}

.profile_icon img.user{
  border: 5px solid #00b633;
}

.profile_icon img.dev{
  border: 5px solid rgb(47, 0, 255);
}

.profile_icon img.admin{
  border: 5px solid #db0000;
}

.profile_icon .display_name{
  position:inherit;
  text-align: center;
  padding: 0;
}

.profile_icon .display_name h5{
  font-weight: 500;
}

.profile_icon .display_name h5.dev{
  color: var(--bg);
}

.profile_icon .display_name h5.user{
  color: #00b633;
}

.profile_content{
  padding-top: 3rem;
}

.profile_content ul{
  font-size: 1rem;
  font-weight: 1000;
}

.profile_details{
  padding-bottom: 3rem;
}

.profile_details .title_img img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-self: center;
}

.profile_details .projects a{
  text-decoration: none;
}

.profile_details .projects a h5{
  color: var(--bg);
}

.profile_details .projects a p{
  color: #d53c;
}

/* about-us */
.divider{
  background-color: wheat;
  padding:2px;
}
.box{
  position:relative;
  padding:100px;
  background-color: #002d50;
  margin-bottom: 100px;
  transition: opacity 0.7s ease-in;
  border: white 3px solid;
  
}
.box-content{ 
  font-size: 1.4rem;
  font-weight: 1000;
  width:75%;
  margin:auto;
}

.color-green{
  background-color: #009a9c;
}

.profile-container{
  padding-bottom: 100px;;
}
.user-profile {
  position: relative;
  transition: opacity 0.7s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: .3em;
  width: 250px;
  height: 200px;
  margin: 0 auto;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 1em;
}

.username {
  font-size: 1.5em;
  font-weight: bold;
  color: #658585;
  margin-top: -1em;
}

.bio { 
  font-size: .9em;
  color: darkorange;
}

.descriptions {
  font-size: .9em;
  color: #c0c5c5;
  width: 80%;
  margin-top: 1em;
  text-align: center;
}

@media (max-width: 600px) {
  .user-profile {
    width: 100%;
    height: auto;
  }
}

.fadeOut { opacity: 0; }
.fadeIn { opacity: 1; animation: fadeText 1s;}

@keyframes fadeText {
  0%   {top: 100px; opacity:0%}
  100% {top: 0px; opacity:100%}
}

@media (200px <= width <= 600px){
  .box{
    padding:10px;
  }
}

@media (600px <= width <= 1024px){
  .box{
    padding:50px;
  }
}

.p3{
  background-image: linear-gradient(rgba(0, 94, 125,0.9),rgba(171, 235, 136,0.9)), url("https://picsum.photos/750/1260");
}
.p4{
  background-image: linear-gradient(rgba(23, 183, 156,0.9), rgba(0, 94, 125,0.9)), url("https://picsum.photos/760/1260");
}
.form-border::after{
  content: "";
  display: block !important;
  border-bottom: 2px solid rgba(204, 204, 204, 0.416) !important;
  margin: 0 14px !important;
}

.form-border:active::after,.form-border:hover::after,.form-border:focus::after,.form-border:active::after{
  border-bottom:2px solid #ccc !important; 
}

.form-floating > .form-control::placeholder {
  color: revert !important;
}

.form-floating > .form-control:not(:focus)::placeholder {
  color: transparent!important;
}


/* autocomplete white color */
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
} */


