@import url("https://fonts.googleapis.com/css?family=Merriweather:400,300|Merriweather+Sans:400,700&display=swap");

  ::-moz-selection {
    background: yellow;
  }
  
  ::selection {
    background: #FDCB2F;
  }
  select option:checked {
    background: #6B4431 -webkit-linear-gradient(bottom, #6B4431 0%, #6B4431 100%);
    color: white;
  }
  /* for navbar */
.navbar-brand{
  font-family: 'Brush Script MT';
}

.nav_home ul li a{
  color: white;
}

.logged ul li a{
  color: black;
}

.gear_icon{
  padding: 2rem;
}

.navbar {
  padding: 0.75rem 1.5rem;
  font-family: "Merriweather Sans", sans-serif;
  background-color: white;
  transition: all 0.15s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navbar-dark {
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: none;
}

.Category_header{
  padding: 1rem;
  margin-bottom: 1rem;
}

.list_category{
    display: inline-block;
    background-color: #002d50;
    color: whitesmoke;
    padding: .6rem 1rem .6rem .6rem;
    border-radius: 2rem;
    margin: .4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list_category:hover{
  color: yellow;
}

.followed{
  color: #002d50!important;
  background-color: #abeb88;
  transform: scale(1.1);
}

input[name="Followed[]"], input[name="GFollowed[]"]{
  accent-color: limegreen;
  margin-left: 1rem;
  cursor: pointer;
}

input[name="Categs[]"], 
input[name="GCategs[]"]{
  accent-color: limegreen;
  margin-right  : 1rem!important;
  cursor: pointer;
}

.categs, .Gcategs{
  background-color: #1f4260!important;
  color: whitesmoke!important;
  border-radius: 20px!important;
}

.navbread{
  display: flex!important;
  align-content: center;
  vertical-align: middle!important;
}

.breadcrumb li a{
  text-decoration: none!important;
  font-size: 1rem;
  color: whitesmoke!important;
  vertical-align: middle!important;
  padding: .2rem 1rem .2rem 1rem;
}

.breadcrumb li a:hover{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  cursor: pointer;
}

.breadcrumb-item::before{
  color: whitesmoke!important;
  vertical-align: middle!important;
}

@media screen and (max-width: 1099px){
  .breadcrumb li a{
    font-size: 1rem;
    padding: 0;
  }

  .breadcrumb li a:hover{
    background-color: transparent;
    color: #f3ff82;
  }
}


  * {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    letter-spacing: 0;
  }
  
  p {
    font-family: 'Nunito', sans-serif;
  }
  
  a {
    font-family: 'Nunito', sans-serif;
    color: #A77661;
    text-decoration: inherit;
    font-size: inherit;
  }
  
  a:hover {
    color: #89604f;
  }
  
  .bg-brown-light {
    background-image: url(images/bg-brown-light.jpg);
    background-repeat: repeat;
  }
  
  .bg-brown-medium {
    background-image: url(images/bg-brown-medium.jpg);
    background-repeat: repeat;
  }
  
  .section-accordion button.accordion-button {
    font-size: 30px;
    border-radius: 0 !important;
  }
  
  .section-accordion .accordion-button:not(.collapsed) {
    color: unset;
    background-color: unset;
    box-shadow: unset;
  }
  
  .section-accordion .accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
  }
  
  div.accordion-item.section-accordion {
    color: unset;
    background-color: unset;
    border: unset;
  }
  
  @media screen and (min-width: 576px) {
    .section-accordion>div.accordion-collapse {
      display: block;
    }
  }
  
  /* Product section */
  .products {
    background-repeat: repeat;
    background-size: cover;
    color:whitesmoke;
    box-shadow: 0 10px 4px -4px gray;
    border-radius: 0 0px 10px 10px;
    padding-top:10vh !important;
  }
  
  .products .product-name {
    position: relative;
    
    
  }
  
  .products .product-name::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: #fe850b;
  }
  
  .products .product-mobile-name::after {
    right: 0;
    margin: auto;
  }
  
  .products .product-description p {
    font-family: 'Nunito', sans-serif;
    text-shadow: -2px 2px rgb(44, 42, 42);
  }
  
  .products .product-description a {
    color: #C14729;
  }
  
  .product-form {
    color: #525252;
  }
  .product-price{
    font-weight:900 !important;
  }
  .product-form .product-price {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
  }
  
  .product-form button.add-to-cart {
    background-color: #C14729;
    color: white;
    font-family: 'Nunito', sans-serif;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 6px 18px;
    box-shadow: 0 10px 4px -4px rgba(0, 0, 0,0.4);
    transition: all 0.2s ease-out;
  }
  .product-form button.add-to-cart:hover{
    transform: scale3d(1.1, 1.1, 1.1);
  }
  
  /* Owl Carousel */
  .product-media{
    margin-top:40px;
  }
  .item{
    cursor: pointer;
  }
  .item img {
    transition: all 0.3s ease-out;
    transform: scale3d(1.0, 1.0, 1.0);
    width:800px;
    height:500px;
    object-fit: cover;
  }
  .item:hover img {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  .images-carousel img {
    max-height: 500px;
    max-width: 800px;
    display: block;
    margin:auto;
    
  }
  
  .images-carousel .owl-dots {
    width: 76px;
    margin: 20px auto 0;
  }
  
  .images-carousel .owl-dots button.owl-dot span {
    width: 24px;
    height: 24px;
    background-color: #c2ae85;
  }
  
  .images-carousel .owl-dots button.owl-dot:hover span {
    background-color: #c2ae85;
  }
  
  .images-carousel .owl-dots button.owl-dot.active span {
    background-color: #6c432e;
  }
  
  .images-carousel .owl-nav {
    position: absolute;
    bottom: -12;
    left: 0;
    right: 0;
    width: max-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .owl-theme .owl-nav button[class*=owl-]:hover {
    background: unset;
  }
  
  .owl-theme .owl-nav div[class*=owl-]:hover {
    background: #fff;
    color: #000;
  }
  
  .images-carousel .owl-nav button .nav-button {
    background-color: #fff;
    color: black;
    border-radius: 100% 100% 100% 100%;
    padding: 15px 15px;
  }
  
.progress-bars{
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    border-radius: 45% 0 45% 0;
}


  /* Additional Product Info section */
  
  .info .title {
    font-size: 44px;
  }
  
  .info p {
    font-family: 'Nunito', sans-serif;
  }
  
  .info .nav.nav-pills {
    white-space: nowrap;
  }
  
  .info .nav.nav-pills li button {
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    color: #1F0A00;
    font-size: 20px;
  }
  
  .info .nav.nav-pills li button.active {
    background-color: #C14729;
    color: #efd19d;
  }
  
  .info .accordion-item-container {
    background-color: #fff;
    border-radius: 4px;
  }
  
  .info .accordion-button:not(.collapsed) {
    color: unset;
    background-color: unset;
    box-shadow: unset;
  }
  
  .info .accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
  }
  
  .reference-section .accordion .accordion-item button.accordion-button {
    background-color: #ede8de;
    color: black;
    border: none;
  }
  
  .reference-section .accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
  }

  .container-fluid.notifs {
    padding-top:2rem;
    padding-bottom: 2rem;
    background-color:rgb(237, 230, 230);
    
  }

  .container-fluid.tiers {
    padding-top:5rem;
    padding-bottom: 5rem;
    background-color:#292b2e;
  }
  .img-hover {
    
    
    overflow: hidden;
  }
  .img-holder{
    
    max-height: 200px;
    overflow: hidden;
  }
  .img-hover img{
    width: 100%;
    height: 200px;
    display: block;
    margin: 0;
    transition: all 0.3s ease-out;
    transform: scale3d(1.0, 1.0, 1.0);
    -webkit-filter: brightness(100%);
  }
  .img-hover:hover img{
    -webkit-filter: brightness(80%);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  .card.a, .card.b, .card.c {
    border: 0;
    border-radius: 0;
    padding: 3em 0;
    background-color: teal;
    border-radius: 4em 0;
    color: #fff;
    background: linear-gradient(to left, teal 50%, #3e296a 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.5s ease-out;
  }
  .card:hover {
    background-position: left;
  }
  .card-icon {
    margin: 0 1em;
  }
  .card-icon i {
    font-size: 3em;
  }

  .progress-bar {
    height: 4px;
    width: 0%;
    transition: all .3s linear;
    overflow: hidden;
    background-color: transparent;
  }
  .progress-bar div {
    background: linear-gradient(60deg, #f3ff82 0%, #00acc1 100%);
    height: 5px;
    z-index: -1;
  }
  
  .progress-container {
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    background: transparent;
    position: fixed;
    transition: all .3s;
  }
  @media(max-width: 320px){
    :root{
      zoom:60%;
    }
    .images-carousel,.owl-theme{
      zoom:100%;
    } 
    
  }
  
  .error{
    color: red;
    font-style: italic;
  }
  
  #FormControldisplayAmt:hover{
    cursor: not-allowed;
  }

  .comment{
    border: 1px solid gray;
    border-radius: 5px;
    
  }
  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
  }

  #comment-box{  
    /* box-sizing: padding-box; */
    overflow:hidden;
    /* demo only: */
    height: 42px;
    padding:10px;
    font-size:14px;
    display:block;
  }
  

.circle.show {
  border-radius: 30px;

}

.circle:hover{
  background-color: rgba(122, 121, 121,0.2) !important;
  border-radius: 30px;
}

.dropdown:hover .dropdown-menu {
  display: block  !important;
  margin-top: 0  !important; 
}

/* for loading screen */
.page_content{
  display: none;
}

.load{
  display: flex;
  justify-content: center!important;
  align-items: center!important;
  min-height: 100vh!important;
  background-color: white;
}

.ring{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%!important;
  animation: ring 2s linear infinite;
}

@keyframes ring {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #f3ff82;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #abeb88;
  }


}
  
.accordion-button::after {
  
  width: 0!important;
  margin: 0!important;
}

.accordion-button:not(.collapsed)::after {
 
  width: 0 !important;
  margin: 0!important;
}
 
.accordion-button.collapsed:hover {
  border-color:blue !important;
}
.accordion-button:hover {
  border-color:blue !important;
}

